<h1>New Cocktail</h1>

<form action="/cocktails" method="post">
  Name:
  <input type="text" name="cocktail[name]">
  Price:
  <input type="text" name="cocktail[price]">
  User:
  <select name="cocktail[user_id]">
    <% @users.each do |user| %>
      <option value="<%= user.id %>"><%= user.name %></option>
    <% end %>
  </select>

  <% @ingredients.each do |ingredient| %>
    <div>
      <input type="checkbox" id="<%= ingredient.id %>" name="cocktail[ingredient_ids][]" value="<%= ingredient.id %>">
      <label for="<%= ingredient.id %>"><%= ingredient.name %></label>
    </div>
  <% end %>



  <input type="submit" value="Add cocktail!">
</form>
